apiVersion: apps/v1
kind: Deployment
metadata:
  name: billing-deployment
  namespace: parking
spec:
  replicas: 1
  selector:
    matchLabels:
      app: billing
  template:
    metadata:
      labels:
        app: billing
    spec:
      containers:
      - name: billing
        image: billing:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 3003
